spring:
  main:
    banner-mode: off
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}
  application:
    name: @app.name@
    version: @app.version@
    environment: ${ENV:local}
  lifecycle:
    timeout-per-shutdown-phase: 30s

server:
  port: 8080
  shutdown: graceful

management:
  metrics:
    export:
      prometheus:
        enabled: true
    tags:
      application: ${spring.application.name}
      environment: ${spring.application.environment}
      version: ${spring.application.version}
      active_profiles: ${spring.profiles.active}

  otlp:
    tracing:
      endpoint: ${OTLP_TRACING_ENDPOINT:http://localhost:4318/v1/traces}
      export:
        enabled: true

  tracing:
    enabled: true
    sampling:
      probability: 1.0

  endpoints:
    web:
      exposure:
        include: prometheus, health, info, metrics

  endpoint:
    prometheus:
      enabled: true
    health:
      probes:
        enabled: true
      show-details: always
      show-components: always

  observations.annotations.enabled: true

logging:
  level:
    root: INFO
    com.imanai.tap.mds.historical: INFO
  pattern.console: "%d{yyyy-MM-dd'T'HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"
